#db-currentpath {
	width: calc(100% - 220px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#db-currentpath a,
#db-currentpath i {
	cursor: pointer;
}
#db-currentpath i {
	margin-top: 5px;
	padding: 0;
	font-size: 28px;
}
#db-up,
#db-webradio-add {
	position: absolute;
	right: 200px;
}
